#list {
    list-style-type: circle;
}

body {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url("a.jpg");
    background-color: slategray;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px 290px;
    background-repeat: repeat-y;
}

h2 {
    text-align: center;
}

div.header {
    background-color: darkgray;
}

div {
    margin-top: 30px;
}

ul {
    border: 1px solid black;
    margin: 0;
    padding-left: 18px;
}

li {
    border: 1px solid black;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 100%;
}

li.first {
    background-color: moccasin;
}

li.second {
    background-color: chocolate;
}

li.third {
    background-color: coral;
}

input {
    padding-left: 50 px;
}

.dropdown {
    margin-left: 10px;
}

#myInput {
    margin-left: 15px;
    width: 58%;
    white-space: pre-wrap;
}


